<div class="container d-flex justify-content-center align-items-center vh-100">
  <p *ngIf="message" class="alert alert-info w-100 text-center">{{ message }}</p>

  <div *ngIf="user" class="card shadow-lg p-4 w-75 text-center">
    <h1 class="text-info mb-5 text-capitalize">Hello, {{ user.name }} ☺️☺️</h1>

    <div class="bg-light rounded p-4">

      <div class="d-flex justify-content-between py-2 border-bottom">
        <label class="fw-bold text-info">Name</label>
        <span class="text-dark">{{ user.name }}</span>
      </div>

      <div class="d-flex justify-content-between py-2 border-bottom">
        <label class="fw-bold text-info">Email</label>
        <span class="text-dark">{{ user.email }}</span>
      </div>

      <div class="d-flex justify-content-between py-2 border-bottom">
        <label class="fw-bold text-info">Phone Number</label>
        <span class="text-dark">{{ user.phoneNumber }}</span>
      </div>

      <div class="d-flex justify-content-between py-2 border-bottom">
        <label class="fw-bold text-info">Role</label>
        <span class="text-dark">{{ user.role }}</span>
      </div>

    </div>
  </div>
</div>
